<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billy.cc.core.component">

    <application >
        <provider
            android:authorities="${applicationId}.com.billy.cc.core.remote"
            android:name=".remote.RemoteProvider"
            android:exported="true"
            />
    </application>

</manifest>
